<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <appSettings>
    <add key ="CCMClean" value="\\uphmanndc011\Packages\CCM\CCMClean.exe" />
    <add key ="CCMSetup" value="\\uphmanndc011\Packages\CCM\CCMSetup.exe" />
  </appSettings>

</configuration>
